# IMPORT PACKAGES

In [ ]:
import numpy as np
import pandas as pd
print('pandas version', pd.__version__)

pandas version 2.2.2

# READING FROM FILES

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls

alerts.json	 incident_notes.txt  netflow.jsonl	  soc_dump.sql
auth_logs.csv	 ioc_feed.xml	     security_policy.yml  superstore.txt
dns_queries.tsv  :memeory:	     soc_alerts.xlsx	  web_access.log

In [ ]:
DIR = '/content/drive/My Drive/Colab Notebooks/DATA/CYS'
datafile = 'soc_dump.sql'
filename = DIR+'/'+datafile

In [ ]:
import os
os.chdir(DIR)
!ls

alerts.json	 incident_notes.txt  netflow.jsonl	  soc_dump.sql
auth_logs.csv	 ioc_feed.xml	     security_policy.yml  superstore.txt
dns_queries.tsv  :memeory:	     soc_alerts.xlsx	  web_access.log

In [ ]:
# Variation -1:
with open(filename, 'r') as file:
    print(file.read())

In [ ]:
# Variation -2:
with open(filename, 'r') as file:
    sql_query=file.read()

In [ ]:
with open(filename, 'r') as file:
  sql_query = file.read()

print(df)
df.shape

     log_id           timestamp username          ip   status   role  \
0         1 2026-01-05 09:00:10   walter  10.0.0.104  SUCCESS  admin
1         2 2026-01-05 09:00:31   victor  10.0.0.128  SUCCESS   user
2         3 2026-01-05 09:01:00  charlie  10.0.0.162  SUCCESS   user
3         4 2026-01-05 09:01:34    trent   10.0.0.99  SUCCESS   user
4         5 2026-01-05 09:02:03   victor  10.0.0.222   FAILED   user
..      ...                 ...      ...         ...      ...    ...
115     116 2026-01-05 09:57:38   walter  10.0.0.208   FAILED   user
116     117 2026-01-05 09:58:08    trent  10.0.0.213   FAILED   user
117     118 2026-01-05 09:58:34      bob   10.0.0.73   FAILED   user
118     119 2026-01-05 09:59:09   walter  10.0.0.158  SUCCESS   user
119     120 2026-01-05 09:59:36  mallory   10.0.0.48  SUCCESS   user

       country
0      Germany
1          USA
2          USA
3          UAE
4          USA
..         ...
115  Australia
116  Singapore
117  Australia
118  Australia
119        UAE

[120 rows x 7 columns]

(120, 7)

In [ ]:
sql_query

"-- Synthetic SOC database dump for lab use\nCREATE DATABASE IF NOT EXISTS soc;\nUSE soc;\n\nCREATE TABLE IF NOT EXISTS auth_logs (\n  log_id INT PRIMARY KEY AUTO_INCREMENT,\n  timestamp DATETIME,\n  username VARCHAR(50),\n  ip VARCHAR(45),\n  status VARCHAR(10),\n  role VARCHAR(20),\n  country VARCHAR(50)\n);\n\nINSERT INTO auth_logs (timestamp, username, ip, status, role, country) VALUES\n('2026-01-05 09:00:10', 'walter', '10.0.0.104', 'SUCCESS', 'admin', 'Germany'),\n('2026-01-05 09:00:31', 'victor', '10.0.0.128', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:01:00', 'charlie', '10.0.0.162', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:01:34', 'trent', '10.0.0.99', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:02:03', 'victor', '10.0.0.222', 'FAILED', 'user', 'USA'),\n('2026-01-05 09:02:33', 'oscar', '10.0.0.228', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:03:02', 'bob', '10.0.0.77', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:03:31', 'victor', '10.0.0.197', 'SUCCESS', 'admin', 'UAE'),\n('2026-01-05 09:04:10', 'oscar', '10.0.0.131', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:04:38', 'victor', '10.0.0.246', 'FAILED', 'user', 'India'),\n('2026-01-05 09:05:01', 'walter', '10.0.0.84', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:05:39', 'eve', '10.0.0.63', 'SUCCESS', 'admin', 'USA'),\n('2026-01-05 09:06:06', 'bob', '10.0.0.189', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:06:30', 'charlie', '10.0.0.170', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:07:00', 'victor', '10.0.0.225', 'SUCCESS', 'admin', 'Singapore'),\n('2026-01-05 09:07:31', 'heidi', '10.0.0.81', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:08:03', 'peggy', '10.0.0.232', 'SUCCESS', 'user', 'Singapore'),\n('2026-01-05 09:08:33', 'bob', '10.0.0.88', 'SUCCESS', 'user', 'Singapore'),\n('2026-01-05 09:09:08', 'alice', '10.0.0.20', 'FAILED', 'user', 'USA'),\n('2026-01-05 09:09:39', 'alice', '10.0.0.222', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:10:00', 'oscar', '10.0.0.126', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:10:38', 'diana', '10.0.0.202', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:11:03', 'bob', '10.0.0.170', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:11:40', 'heidi', '10.0.0.15', 'SUCCESS', 'admin', 'USA'),\n('2026-01-05 09:12:08', 'alice', '10.0.0.105', 'FAILED', 'user', 'USA'),\n('2026-01-05 09:12:36', 'diana', '10.0.0.51', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:13:03', 'charlie', '10.0.0.73', 'SUCCESS', 'admin', 'USA'),\n('2026-01-05 09:13:37', 'peggy', '10.0.0.208', 'FAILED', 'user', 'India'),\n('2026-01-05 09:14:09', 'oscar', '10.0.0.140', 'FAILED', 'admin', 'Singapore'),\n('2026-01-05 09:14:34', 'charlie', '10.0.0.106', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:15:00', 'alice', '10.0.0.44', 'SUCCESS', 'admin', 'UAE'),\n('2026-01-05 09:15:32', 'peggy', '10.0.0.75', 'SUCCESS', 'admin', 'Australia'),\n('2026-01-05 09:16:06', 'charlie', '10.0.0.50', 'SUCCESS', 'admin', 'India'),\n('2026-01-05 09:16:35', 'heidi', '10.0.0.82', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:17:04', 'alice', '10.0.0.247', 'SUCCESS', 'admin', 'USA'),\n('2026-01-05 09:17:32', 'walter', '10.0.0.19', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:18:03', 'walter', '10.0.0.65', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:18:35', 'trent', '10.0.0.170', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:19:01', 'diana', '10.0.0.173', 'FAILED', 'user', 'Canada'),\n('2026-01-05 09:19:31', 'charlie', '10.0.0.173', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:20:06', 'alice', '10.0.0.119', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:20:31', 'bob', '10.0.0.139', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:21:05', 'bob', '10.0.0.227', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:21:35', 'victor', '10.0.0.182', 'SUCCESS', 'admin', 'India'),\n('2026-01-05 09:22:09', 'oscar', '10.0.0.211', 'SUCCESS', 'admin', 'USA'),\n('2026-01-05 09:22:34', 'charlie', '10.0.0.69', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:23:00', 'eve', '10.0.0.74', 'SUCCESS', 'user', 'Singapore'),\n('2026-01-05 09:23:37', 'oscar', '10.0.0.164', 'FAILED', 'user', 'UAE'),\n('2026-01-05 09:24:08', 'alice', '10.0.0.25', 'SUCCESS', 'user', 'India'),\n('2026-01-05 09:24:31', 'alice', '10.0.0.87', 'FAILED', 'user', 'UAE'),\n('2026-01-05 09:25:06', 'charlie', '10.0.0.191', 'SUCCESS', 'user', 'India'),\n('2026-01-05 09:25:31', 'bob', '10.0.0.21', 'FAILED', 'user', 'Germany'),\n('2026-01-05 09:26:08', 'victor', '10.0.0.11', 'FAILED', 'user', 'Germany'),\n('2026-01-05 09:26:34', 'trent', '10.0.0.34', 'SUCCESS', 'user', 'India'),\n('2026-01-05 09:27:10', 'mallory', '10.0.0.55', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:27:39', 'victor', '10.0.0.228', 'FAILED', 'admin', 'Germany'),\n('2026-01-05 09:28:05', 'diana', '10.0.0.223', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:28:39', 'trent', '10.0.0.8', 'SUCCESS', 'admin', 'Canada'),\n('2026-01-05 09:29:03', 'oscar', '10.0.0.223', 'FAILED', 'user', 'Germany'),\n('2026-01-05 09:29:31', 'heidi', '10.0.0.29', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:30:00', 'diana', '10.0.0.53', 'FAILED', 'user', 'UAE'),\n('2026-01-05 09:30:40', 'diana', '10.0.0.59', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:31:03', 'eve', '10.0.0.223', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:31:34', 'oscar', '10.0.0.132', 'SUCCESS', 'admin', 'UK'),\n('2026-01-05 09:32:01', 'alice', '10.0.0.31', 'FAILED', 'user', 'UAE'),\n('2026-01-05 09:32:33', 'alice', '10.0.0.29', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:33:01', 'trent', '10.0.0.157', 'FAILED', 'user', 'Singapore'),\n('2026-01-05 09:33:36', 'eve', '10.0.0.13', 'FAILED', 'user', 'Singapore'),\n('2026-01-05 09:34:04', 'mallory', '10.0.0.112', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:34:37', 'walter', '10.0.0.82', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:35:10', 'victor', '10.0.0.81', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:35:35', 'victor', '10.0.0.34', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:36:02', 'oscar', '10.0.0.193', 'FAILED', 'user', 'UAE'),\n('2026-01-05 09:36:35', 'trent', '10.0.0.142', 'FAILED', 'user', 'Singapore'),\n('2026-01-05 09:37:05', 'trent', '10.0.0.203', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:37:33', 'peggy', '10.0.0.115', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:38:10', 'oscar', '10.0.0.23', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:38:34', 'bob', '10.0.0.211', 'FAILED', 'user', 'UAE'),\n('2026-01-05 09:39:10', 'diana', '10.0.0.208', 'SUCCESS', 'user', 'Singapore'),\n('2026-01-05 09:39:40', 'peggy', '10.0.0.158', 'FAILED', 'user', 'Canada'),\n('2026-01-05 09:40:01', 'oscar', '10.0.0.149', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:40:39', 'trent', '10.0.0.64', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:41:10', 'trent', '10.0.0.58', 'SUCCESS', 'admin', 'Australia'),\n('2026-01-05 09:41:32', 'alice', '10.0.0.144', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:42:08', 'charlie', '10.0.0.207', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:42:33', 'peggy', '10.0.0.158', 'FAILED', 'admin', 'Canada'),\n('2026-01-05 09:43:02', 'victor', '10.0.0.116', 'FAILED', 'user', 'Australia'),\n('2026-01-05 09:43:37', 'peggy', '10.0.0.68', 'FAILED', 'user', 'UAE'),\n('2026-01-05 09:44:06', 'victor', '10.0.0.126', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:44:34', 'heidi', '10.0.0.75', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:45:10', 'charlie', '10.0.0.40', 'SUCCESS', 'user', 'Singapore'),\n('2026-01-05 09:45:38', 'bob', '10.0.0.108', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:46:03', 'alice', '10.0.0.54', 'FAILED', 'user', 'India'),\n('2026-01-05 09:46:40', 'walter', '10.0.0.99', 'SUCCESS', 'admin', 'UAE'),\n('2026-01-05 09:47:05', 'trent', '10.0.0.220', 'FAILED', 'user', 'Singapore'),\n('2026-01-05 09:47:30', 'peggy', '10.0.0.58', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:48:03', 'mallory', '10.0.0.173', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:48:30', 'peggy', '10.0.0.237', 'SUCCESS', 'user', 'India'),\n('2026-01-05 09:49:05', 'trent', '10.0.0.153', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:49:36', 'charlie', '10.0.0.223', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:50:04', 'mallory', '10.0.0.56', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:50:31', 'eve', '10.0.0.194', 'FAILED', 'user', 'USA'),\n('2026-01-05 09:51:03', 'peggy', '10.0.0.6', 'FAILED', 'user', 'UK'),\n('2026-01-05 09:51:39', 'diana', '10.0.0.168', 'SUCCESS', 'admin', 'India'),\n('2026-01-05 09:52:05', 'alice', '10.0.0.245', 'SUCCESS', 'user', 'Germany'),\n('2026-01-05 09:52:33', 'diana', '10.0.0.34', 'SUCCESS', 'user', 'Singapore'),\n('2026-01-05 09:53:10', 'peggy', '10.0.0.181', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:53:37', 'charlie', '10.0.0.248', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:54:06', 'walter', '10.0.0.175', 'FAILED', 'user', 'Singapore'),\n('2026-01-05 09:54:40', 'bob', '10.0.0.153', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:55:07', 'heidi', '10.0.0.199', 'SUCCESS', 'user', 'USA'),\n('2026-01-05 09:55:32', 'walter', '10.0.0.202', 'SUCCESS', 'user', 'UK'),\n('2026-01-05 09:56:04', 'bob', '10.0.0.131', 'SUCCESS', 'user', 'Canada'),\n('2026-01-05 09:56:32', 'peggy', '10.0.0.29', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:57:03', 'heidi', '10.0.0.41', 'SUCCESS', 'user', 'UAE'),\n('2026-01-05 09:57:38', 'walter', '10.0.0.208', 'FAILED', 'user', 'Australia'),\n('2026-01-05 09:58:08', 'trent', '10.0.0.213', 'FAILED', 'user', 'Singapore'),\n('2026-01-05 09:58:34', 'bob', '10.0.0.73', 'FAILED', 'user', 'Australia'),\n('2026-01-05 09:59:09', 'walter', '10.0.0.158', 'SUCCESS', 'user', 'Australia'),\n('2026-01-05 09:59:36', 'mallory', '10.0.0.48', 'SUCCESS', 'user', 'UAE');\n"

In [ ]:
#Variation -3:
import sqlite3

In [ ]:
# 1) Read SQL file (or paste your SQL content as a string)
with open(datafile, "r", encoding="utf-8") as f:
    sql = f.read()

In [ ]:
import re

In [ ]:
# 2) Remove MySQL-specific statements
#re.sub(r"^\s*--.*$", "", sql, flags=re.IGNORECASE | re.MULTILINE)
sql = re.sub(r"(?im)^\s*--.*$", "", sql)                 # remove comment lines starting with --
sql = re.sub(r"(?im)^\s*CREATE DATABASE.*?;\s*$", "", sql)
sql = re.sub(r"(?im)^\s*USE\s+\w+\s*;\s*$", "", sql)

In [ ]:
# 3) Convert MySQL AUTO_INCREMENT to SQLite AUTOINCREMENT
#    and make INT PRIMARY KEY AUTO_INCREMENT -> INTEGER PRIMARY KEY AUTOINCREMENT
sql = re.sub(
    r"(?i)\blog_id\s+INT\s+PRIMARY\s+KEY\s+AUTO_INCREMENT\b",
    "log_id INTEGER PRIMARY KEY AUTOINCREMENT",
    sql
)

In [ ]:
# 4) Create SQLite DB in memory and execute script
conn = sqlite3.connect(":memory:")
conn.executescript(sql)

# 5) Read table into pandas DataFrame
df = pd.read_sql("SELECT * FROM auth_logs;", conn)

df

,log_id,timestamp,username,ip,status,role,country
0,1,2026-01-05 09:00:10,walter,10.0.0.104,SUCCESS,admin,Germany
1,2,2026-01-05 09:00:31,victor,10.0.0.128,SUCCESS,user,USA
2,3,2026-01-05 09:01:00,charlie,10.0.0.162,SUCCESS,user,USA
3,4,2026-01-05 09:01:34,trent,10.0.0.99,SUCCESS,user,UAE
4,5,2026-01-05 09:02:03,victor,10.0.0.222,FAILED,user,USA
...,...,...,...,...,...,...,...
115,116,2026-01-05 09:57:38,walter,10.0.0.208,FAILED,user,Australia
116,117,2026-01-05 09:58:08,trent,10.0.0.213,FAILED,user,Singapore
117,118,2026-01-05 09:58:34,bob,10.0.0.73,FAILED,user,Australia
118,119,2026-01-05 09:59:09,walter,10.0.0.158,SUCCESS,user,Australia
119,120,2026-01-05 09:59:36,mallory,10.0.0.48,SUCCESS,user,UAE

In [ ]:
df.columns

Index(['log_id', 'timestamp', 'username', 'ip', 'status', 'role', 'country'], dtype='object')

In [ ]:
df.dtypes

log_id        int64
timestamp    object
username     object
ip           object
status       object
role         object
country      object
dtype: object

Different methods to change from one datatype to another



               .astype() (direct casting)

                Parser functions like pd.to_datetime, pd.to_numeric, pd.to_timedelta (safer/semantic)

                String/DateTime accessors like .str and .dt (feature extraction and formatting)

In [ ]:
# 6) Parse timestamp column (optional but recommended)
df["timestamp"] = pd.to_datetime(df["timestamp"])

print(df.shape)
print(df.head())

(120, 7)
   log_id           timestamp username          ip   status   role  country
0       1 2026-01-05 09:00:10   walter  10.0.0.104  SUCCESS  admin  Germany
1       2 2026-01-05 09:00:31   victor  10.0.0.128  SUCCESS   user      USA
2       3 2026-01-05 09:01:00  charlie  10.0.0.162  SUCCESS   user      USA
3       4 2026-01-05 09:01:34    trent   10.0.0.99  SUCCESS   user      UAE
4       5 2026-01-05 09:02:03   victor  10.0.0.222   FAILED   user      USA


Pandas Data Type	Python Data Type	Purpose
object	string	text/characters
int64	int	integer
float64	float	Decimal numbers
bool	bool	True or False
category	not available	Categorical data
datetime64	not avaiable	Date and time

In [ ]:
url = 'https://raw.githubusercontent.com/bkeerthana/pandas/refs/heads/main/superstore.csv'
df = pd.read_csv(url)
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
1       2  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
2       3  CA-2016-138688  06-12-2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]